* {
    font-family: 'Gmarket', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
}

h1 {
    font-weight: 400;
    font-size: 20px;
}

h2 {
    font-weight: 400;
    font-size: 48px;
}

h3 {
    font-weight: 400;
    font-size: 32px;
}

p1 {
    font-weight: 400;
    font-size: 24px;
}

p2 {
    font-weight: 400;
    font-size: 52px;
}

p3 {
    font-weight: 400;
    font-size: 14px;
}

p4 {
    font-weight: 400;
    font-size: 18px;
}

p5 {
    font-weight: 400;
    font-size: 16px;
}

@font-face {
    font-family: 'Gmarket';
    src: url(/font/GmarketSansTTFBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gmarket';
    src: url(/font/GmarketSansTTFMedium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gmarket';
    src: url(/font/GmarketSansTTFLight.ttf);
    font-weight: 300;
}

:root {
    --white-color: #fff;
    --dark-blue: #1C1F6B;
    --dark-blue-blur: #1C1F6B80;
    --light-blue: #91AAE9;
    --gap-small: 20px;
    --gap-middle: 40px;
    --gap-large: 80px;
    /* --border-color: red; */
}

.content {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--gap-middle) 0;
    width: 1000px;
    height: 760px;

    border: solid 1px var(--border-color);
}

.item {
    position: relative;
    display: flex;
}

.info {
    background-color: var(--dark-blue-blur);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--white-color);
    padding: 24px;
}

container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--border-color);
}


#header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/해파리연구소.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 700px;
}

.blur {
    background-color: var(--dark-blue-blur);
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1000px; */
    height: 80px;

    /* border: solid 1px var(--border-color); */
}

.logo {
    background-image: url(/img/로고.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: solid 1px var(--border-color); */
}

.menu i {
    display: none;
    color: #fff;
}

.menu div {
    display: flex;
    justify-content: space-between;
}

.menu h1 {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 80px;

    /* border: solid 1px red; */
}

.menu input {
    display: none;
}

.dash {
    background-color: var(--white-color);
    width: calc(100vw - 240px);
    height: 1px;
    display: flex;
    position: absolute;
    top: 80px;

    /* border: solid 1px var(--border-color); */
}

.hero {
    z-index: 1;
    margin-right: auto;
    margin-top: 75vh;
    margin-left: 120px;

    color: var(--white-color);
}

.hero p1 {
    margin-bottom: 1px;
}

.paging {
    padding: 0px calc(50vw - 500px);
    width: 100vw;
    height: 100px;
    border: solid 1px var(--border-color);
    position: absolute;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 32px;
    z-index: 50;
}

button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
}

button:nth-child(1) {
    background-color: var(--light-blue);
}

#show {
    width: 100vw;
    padding: 0px calc(50vw - 500px);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    border: solid 1px var(--border-color);
}

#show h2 {
    margin-top: var(--gap-large);
    height: 63px;
    /* width: 1000px; */
}

#show .content {
    margin: var(--gap-middle) 0;
    /* width: 1000px; */
    height: 760px;
    display: flex;
    flex-shrink: 0;
    padding: 0;
    align-content: space-between;
}

#show .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 490px;
    height: 360px;
    flex-shrink: 0;

    border: solid 1px var(--border-color);
}

#show .item:nth-child(1) {
    background-image: url(/img/상어먹이.png);
}

#show .item:nth-child(2) {
    background-image: url(/img/인어공주.png);
}

#show .item:nth-child(3) {
    background-image: url(/img/펭귄먹이2.png);
}

#show .item:nth-child(4) {
    background-image: url(/img/수달먹이.png);
}

#show .info {
    display: flex;
    width: 490px;
    height: 115px;
    padding: 12px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
    opacity: 0;
}

#show .item:hover .info {
    opacity: 1;
}

.btn {
    display: flex;
    width: 192px;
    height: 48px;
    border: solid 1px var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--gap-large);
    text-decoration: none;
}

.btn:visited {
    text-decoration: none;
}

#share {
    width: 100vw;
    padding: 0px 0px 0px calc(50vw - 500px);
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);

    flex-wrap: wrap;
    justify-content: center;

    border: solid 1px var(--border-color);
}

#share h2 {
    color: var(--dark-blue);
    margin-top: var(--gap-large);
}

#share p1 {
    color: var(--dark-blue);
}

#share .content {
    margin: var(--gap-middle) 0;
    /* width: 1000px; */
    height: 760px;
    display: flex;
    flex-shrink: 0;
    padding: 0;
    align-content: space-between;
    margin-bottom: var(--gap-large);
}

#share .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 490px;
    height: 100%;
    max-height: 360px;
    flex-shrink: 0;

    border: solid 1px var(--border-color);
}

#share .item:nth-child(1) {
    background-image: url(/img/매가오리.png);
}

#share .item:nth-child(2) {
    background-image: url(/img/바다장어.png);
}

#share .item:nth-child(3) {
    background-image: url(/img/샌드타이거.png);
}

#share .item:nth-child(4) {
    background-image: url(/img/수달.png);
}

#share .info {
    display: flex;
    width: 490px;
    height: 115px;
    padding: 32px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    opacity: 0;
}

#share .item:hover .info {
    opacity: 1;
}


#share .info p1 {
    color: var(--white-color);
}

#ticket {
    width: 100vw;
    padding: 0px calc(50vw - 500px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    border: solid 1px var(--border-color);
}

#ticket .content {
    margin: var(--gap-middle) 0;
    /* width: 1000px; */
    height: 803px;
    display: flex;
    /* flex-shrink: 0; */

}

#ticket p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    margin-top: var(--gap-large);
}

#ticket .item {
    width: 320px;
    height: 803px;
    /* flex-shrink: 0; */
    background-image: url(/img/해파리연구소.jpeg);
    background-size: cover;
    margin-bottom: var(--gap-large);
}

#ticket .info {
    display: flex;
    width: 320px;
    height: 124px;
    padding: 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 8px; */
    /* flex-shrink: 0; */
}

#ticket .info p1 {
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    margin: 0;

}

#ticket p3 {
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
}

#footer {
    width: 100vw;
    height: 290px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-blue);
    color: #fff;
    padding: 0px calc(50vw - 500px);

    border: solid 1px var(--border-color);
}

.SNS {
    margin-top: 24px;
    display: flex;
    /* width: 1000px; */
    align-items: center;
    gap: 24px;
}

.icon {
    display: block;
    width: 36px;
    height: 36px;
    background-size: cover;
}

.icon.youtube {
    background-image: url("./img/유튜브_w.png");
}

.icon.facebook {
    background-image: url("./img/페이스북_w.png");
}

.icon.instagram {
    background-image: url("./img/인스타_w.png");
}

.icon.twitter {
    background-image: url("./img/트위터_w.png");
}

@media screen and (max-width: 1024px) {
    #header {
        height: 80px;
        /* overflow: hidden; */
        min-height: auto;
    }

    .blur {
        height: 80px;
    }

    .menu .submenu {
        /* display: none; */
        /* background-color: #ffffff80; */
        background-color: #1C1F6B;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 80px;
        transform: scaleY(0);
        z-index: 20;
    }

    #show .content {
        width: calc(100vw - 32px);
        height: 360px;
        overflow: scroll;
        white-space: nowrap;
        overflow-x: auto;
        flex-direction: column;
    }

    #show .item {
        width: calc(100vw - 32px);
    }

    #show .item .info {
        width: calc(100vw - 32px);
        white-space: wrap;
        height: 180px;
    }

    #share .content {
        width: calc(100vw - 32px);
        height: 360px;
        overflow: scroll;
        white-space: nowrap;
        overflow-x: auto;
        flex-direction: column;
    }

    #share h2 {
        font-size: 28px;
        width: calc(100vw - 32px);
    }

    #share .item {
        width: calc(100vw - 32px);
    }

    #share .item .info {
        width: calc(100vw - 32px);
        white-space: wrap;
        /* height: 180px; */
    }

    #ticket .content {
        width: calc(100vw - 32px);
        /* height: 360px; */
        overflow: scroll;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: column;
    }

    #ticket .content .item {
        width: 100%;
        margin: 0;
    }

    #ticket .info {
        width: 100%;

    }

    #ticket p1 {
        display: none;
    }

    #ticket .info p1 {
        display: inline-block;
        white-space: wrap;
        width: calc(100vw - 32px);
    }

    .dash {
        width: 100vw;
    }

    #nav {
        width: 100vw;
        padding: 0 16px;
    }

    .menu i {
        display: inline-block;
        font-size: 36px;
    }

    .menu input {
        display: none;
    }

    #bars:checked~.submenu {
        transform: scaleY(1);
    }

    #show {
        padding: 0 16px;
    }

    #share {
        padding: 0 16px;
    }

    #ticket {
        padding: 0 16px;
    }

    #footer {
        padding: 0 16px;
    }

    .paging {
        display: none;
    }

    .hero {
        display: none;
    }

}